#heading1 {
    text-align: left;
    font-size: 45pt;
    color: red;
    background-color: black;
    margin-top: 0px;
}

#headingvalue {
    text-align: center;
    font-size: 22pt;
    font-weight: 900;
    margin-top: 70px;
}

#h2 {
    text-align: center;
    color: black;
    font-size: 20pt;
}

#Links1{
    text-align: center;
    font-size: 20pt;
    margin-bottom: -15px;
    
    

}

a:link {
    color: black;
}
  
a:visited {
    color: black;
}
    
a:hover {
    color:red;
}

a:active {
    color: black;
}

#h2 {
    font-size: 16pt;
    font-weight: 900;
    margin-top: 70px;
}

#h3 {
    font-size: 16pt;
    font-weight: 900;
    margin-top: 70px;
}

#h4 {
    font-size: 16pt;
    font-weight: 900;
    margin-top: 70px;
}

#h5 {
    font-size: 16pt;
    font-weight: 900;
    margin-top: 70px;
}

#h6 {
    font-size: 16pt;
    font-weight: 900;
    margin-top: 70px;
}

#h7 {
    font-size: 16pt;
    font-weight: 900;
    margin-top: 70px;
}

#h10 {
    font-size: 16pt;
    font-weight: 900;
    margin-top: 70px;
}
#h11 {
    font-size: 16pt;
    font-weight: 900;
    margin-top: 70px;
}
#p1 {
    font-size: 13pt;
}

#p2 {
    font-size: 13pt;
}

#p3{
    font-size: 13pt;

}

#p4 {
    font-size: 13pt;
}

#p5 {
    font-size: 13pt;
}

#p6 {
    font-size: 13pt;
}

#p7 {
    font-size: 13pt;
}

#p8 {
    font-size: 13pt;
}

#p10 {
    font-size: 13pt;
}
#p11 {
    font-size: 13pt;
    text-align: left;
}
#pic1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#pw {
    font-size: 17pt;
    text-align: center;
    margin-top: 80px;
}

#pic2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#pic3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#pic4 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#headingvalue {text-align: center;
color: black;
font-size: 31pt;
font-weight: 700;
}

#headingvalue2 {text-align: left;
color: black;
font-size: 16pt;}

#headingvalue3 {text-align: left;
    color: black;
    font-size: 16pt;}
#headingvalue4 {
    text-align: left;
    color: black;
    font-size: 16pt;
}
    


#headingvalue5 {text-align: left;
            color: black;
            font-size: 16pt;}

#headingvalue6 {text-align: left;
                color: black;
                font-size: 16pt;}

